## Read CSV from GCS using magic cells

In [8]:
import pandas as pd
from StringIO import StringIO

In [9]:
# Read csv file from GCS into a variable
%gcs read --object gs://cloud-datalab-samples/cars.csv --variable cars

In [10]:
# Store in a pandas dataframe
df = pd.read_csv(StringIO(cars))
df.head()

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,Venture Extended Edition,NaN,4900.0
2,1999,Chevy,Venture Extended Edition,Very Large,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL! air, moon roof, loaded",4799.0

## Read CSV from GCS using datalab API

In [39]:
import datalab.storage as gcs
import pandas as pd
from StringIO import StringIO

object = gcs.Bucket('cloud-datalab-samples').item('cars.csv')
df = pd.read_csv(StringIO(object.read_from()))
df.head()

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,Venture Extended Edition,NaN,4900.0
2,1999,Chevy,Venture Extended Edition,Very Large,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL! air, moon roof, loaded",4799.0